name: Github-action-demo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    environment:
      name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & push the Docker image
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          echo "VERSION=$(cat service.yaml)" >> $GITHUB_ENV
          export CF_IMAGE=$DOCKER_USERNAME/${{ github.event.repository.name }}:${{ env.VERSION }}
          docker build . --file Dockerfile --tag $CF_IMAGE && docker push $CF_IMAGE
      - name: Report image
        with:
          CF_IMAGE: $DOCKER_USERNAME/${{ github.event.repository.name }}:${{ env.VERSION }}
          CF_HOST: "https://mr-59d37837920f8900018a6183-eb90894.cf-cd.com"
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          CF_CONTAINER_REGISTRY_INTEGRATION: "docker"
          CF_JIRA_INTEGRATION: "jira"
          CF_GITHUB_TOKEN: ${{ secrets.PAT }}
          CF_JIRA_MESSAGE: "${{ github.event.head_commit.message }}"
          CF_JIRA_PROJECT_PREFIX: "CR"
        uses: codefresh-io/codefresh-report-image@latest
      - name: Checkout csdp-salesdemo_applications
        uses: actions/checkout@v3
        with:
          repository: ziv-codefresh/csdp-salesdemo_applications
          path: .
      - name: Update application version
        run: |
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod a+x /usr/local/bin/yq
          cd hello-world
          IMAGE=zivcodefresh/${{ github.event.repository.name }}:${{ env.VERSION }} yq -i '.spec.template.spec.containers.[0].image = strenv(IMAGE)' deployment.yaml
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.PAT }}
          commit-message: Update version
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: update-guestbook-version
          delete-branch: true
          title: 'Update application version'
          body: |
            Update deployment version
            - Updated new version for hello-world application
          labels: |
            automated pr
          assignees: ziv-codefresh
          reviewers: ziv-codefresh
          draft: false

