name: Github-action-demo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    environment:
      name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & push the Docker image
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          export VERSION = cat service.yaml
          export CF_IMAGE = $DOCKER_USERNAME/github-demo:$VERSION
          docker build . --file Dockerfile --tag $VERSION && docker push $CF_IMAGE
#      - name: report image by action
#        with:
#          CF_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/csdp-report-image-github-action:example-reported-image
#          CF_ENRICHERS: "jira, git"
#
#          CF_HOST: "https://mr-59d37837920f8900018a6183-63b0e73.cf-op.com"
#          CF_API_KEY: ${{ secrets.CF_API_KEY }}
#
#          CF_CONTAINER_REGISTRY_INTEGRATION: "dockerhub"
#          CF_JIRA_INTEGRATION: "jira"
#
#          "CF_GIT_PROVIDER": "github"
#          "CF_GITHUB_TOKEN": ${{ secrets.CF_GITHUB_TOKEN }}
#          "CF_GIT_REPO": "ziv-codefresh/example-github-action-use-csdp-report-image"
#          "CF_GIT_BRANCH": "feature"
#          "CF_JIRA_MESSAGE": "CR-9021"
#          "CF_JIRA_PROJECT_PREFIX": "CR"
#        uses: codefresh-io/codefresh-report-image@Marketplace
