name: Github-action-demo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    environment:
      name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & push the Docker image
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          export VERSION=$(cat service.yaml)
          echo "VERSION=$(cat service.yaml)" >> $GITHUB_ENV
          export CF_IMAGE=$DOCKER_USERNAME/ks-guestbook-demo:$VERSION
          docker pull gcr.io/heptio-images/ks-guestbook-demo:0.2
          docker tag gcr.io/heptio-images/ks-guestbook-demo:0.2 $CF_IMAGE
          docker push $CF_IMAGE
      - name: report image by action
        with:
          CF_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/ks-guestbook-demo:${{ env.VERSION }}
          CF_HOST: "https://mr-59d37837920f8900018a6183-eb90894.cf-cd.com"
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          CF_CONTAINER_REGISTRY_INTEGRATION: "docker"
          CF_JIRA_INTEGRATION: "jira"
          "CF_GITHUB_TOKEN": ${{ secrets.PAT }}
          "CF_JIRA_MESSAGE": "${{ github.event.head_commit.message }}"
          "CF_JIRA_PROJECT_PREFIX": "CR"
        uses: codefresh-io/codefresh-report-image@latest
      - name: Checkout csdp-salesdemo_applications
        uses: actions/checkout@v3
        with:
          repository: ziv-codefresh/csdp-salesdemo_applications
          path: .
      - name: Update version and create a pull request
        run: |
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod a+x /usr/local/bin/yq
          cd guestbook-sales-rollout
          IMAGE=zivcodefresh/ks-guestbook-demo:${{ env.VERSION }} yq -i '.spec.template.spec.containers.[0].image = strenv(IMAGE)' rollout.yaml
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.PAT }}
          commit-message: Update report
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: example-patches
          delete-branch: true
          title: '[Example] Update report'
          body: |
            Update rollout version
            - Updated new version of guestbook
          labels: |
            automated pr
          assignees: ziv-codefresh
          reviewers: ziv-codefresh
          draft: false

